<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="false">
      <assemblies>
        <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="EPiServer" namespace="EPiServer.WebControls" assembly="EPiServer" />
        <add tagPrefix="EPiServer" namespace="EPiServer.Web.WebControls" assembly="EPiServer" />
        <add tagPrefix="EPiServer" namespace="EPiServer.Web.WebControls" assembly="EPiServer.Web.WebControls" />
        <add tagPrefix="EPiServerUI" namespace="EPiServer.UI.WebControls" assembly="EPiServer.UI" />
      </controls>
    </pages>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="8192" />
      </requestFiltering>
    </security>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>